H1
{
	padding-top: 3px;
	color: #000000;
	font-size: 50px;
	backface-visibility: ;
	margin-left: 370px;
}
.input-form
{
	margin-left: 300px;
}
.input-form INPUT
{
	height: 43px;
	width: 347px;
	margin-top: 10px;
	font-size: 22px;
}
HTML
{
	margin-left: 200px;
}
A.forget
{
	margin-left: 400px;
}

header {
    margin-top: 25;
    background-color: blue;
    height: 100px;
}



body {
    background-color: white;
}

.button {
    margin-top: 25;
    margin-left: 400px;
    height: 43px;
    width: 347px;
    font-size: 22px;
    background-color: red;
}

.main {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-top: 25;
    margin-left: 50px;
    color: black;
    text-decoration: none;
    
}
.entering {
    font-family: 'Permanent Marker', cursive;
    font-size: 16px;
    margin-left: 350px;
    margin-top: 25;
    color: red;
}

.logo {
    margin-top: 25;
    margin-left: -150px;
    height: 80px;
    
}

.search_fraze {
    margin-top: 25;
    background-color: white;
    margin-left: 50px;
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
    height: 35px;
}

.search_button {
    margin-top: 25;
    background-color: red;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    width: 110px;
    height: 50px;
    margin-left: 15px;
}








