<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&family=Press+Start+2P&family=Reggae+One&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2 family=Play:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title>Ваш профиль</title>


</head>
<body>
    



<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    
    <img class="logo" src="https://im0-tub-ru.yandex.net/i?id=6ca9517604c2e265e62ec1ced4ad8b7e&n=13" width="100" alt="">
    
    <h1>Ваш профиль</h1>
</header>
    

    <div class='form'>
        
        
        <label for="name">Имя</label>
        <input type="text" name="" id="name" align-items='center'>

        <label for="name">Фамилия</label>
        <input type="text" name="" id="surname">
        
        <label for="name">Дата рождения</label>
        <input type="data" name="" id="name">
        
        <label for="name">Номер телефона</label>
        <input type="integer" name="" id="name">
        
        <input type="button" value="Сохранить">
    </div>
</body>
    <footer>
        <img src="https://htmlbase.ru/storage/app/media/html5-css3.png" width="100" alt="">
    </footer>
</html>
