<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
	
	
	<link rel="stylesheet" type="text/css" href="css/style.css">

    

</head>
<body>
    <header>
        <img class="logo" src="https://im0-tub-ru.yandex.net/i?id=6ca9517604c2e265e62ec1ced4ad8b7e&n=13" width="100" alt="">

        <div class="form">
            <h1 class="voity">Войдите</h1>
            <div class="input-form">
                <input type="text" placeholder="Логин">
            </div>
            <div class="input-form">
                <input type="text" placeholder="Пароль">
            </div>
            <input class="button" name="regestration_button" value="Войти" type="button">
            <a href="#" class="forget">Зарегестрироваться</a>
        </div>
    </header>



</body>
</html>






