<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>

    <link href="css_files/enter.css" rel="stylesheet">
</head>
<body>

    <div class="form">
        <h1>Вход</h1>
        <div class="input-form">
            <input type="text" placeholder="Логин">
        </div>
        <div class="input-form">
            <input type="text" placeholder="Пароль">
        </div>
        <a href="#" class="forget">Зарегестрироваться</a>
    </div>






</body>
</html>






