<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>




</head>
<body>


<div class="container py-3">
    <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Pricing example</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Название</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="http://127.0.0.1:5000/poisk">Углубленный поиск</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="http://127.0.0.1:5000/chat">Чаты</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="http://127.0.0.1:5000/about">О нас</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="http://127.0.0.1:5000/account">Мой аккакаунт</a>
        </nav>
    </header>

    {% block body %}{% endblock %}
</body>
</html>




