<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&family=Press+Start+2P&family=Reggae+One&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2 family=Play:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title>Главная страница</title>


</head>
<body>
    



<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    

    <nav>
        
        <img class="logo" src="https://im0-tub-ru.yandex.net/i?id=6ca9517604c2e265e62ec1ced4ad8b7e&n=13" width="100" alt="">
            
        <a class="main" href="http://127.0.0.1:5000">Главная</a>
        
        <input class="search_fraze" type="text" name="search" placeholder="Найти">
        
        <input class="search_button" name="search_button" value="Найти" type="button">
        
        <a class="main" href="http://127.0.0.1:5000/about">О нас</a>
                
        <a class="entering" href="http://127.0.0.1:5000/enter">Войти</a>
        
    </nav>
</header>
</body>
    <footer>
        <img src="https://htmlbase.ru/storage/app/media/html5-css3.png" width="100" alt="">
    </footer>
</html>




