<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&family=Press+Start+2P&family=Reggae+One&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2 family=Play:wght@700&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        
        <img class="logo" src="https://im0-tub-ru.yandex.net/i?id=6ca9517604c2e265e62ec1ced4ad8b7e&n=13" width="100" alt="">
        
        <div class="form">
        <h1>Регистрация</h1>
        <div class="input-form">
            <input type="text" placeholder="Логин">
        </div>
        <div class="input-form">
            <input type="text" placeholder="Придумайте пароль">
        </div>
        <div class="input-form">
            <input type="text" placeholder="Подтвердите пароль">
        </div>
            <input class="button" name="regestration_button" value="Зарегестрироваться" type="button">
        </div>
        
    </header>
</body>
</html>